
.AddItem
{
    margin: auto;
    width: 100%;
}
#name
{
    width: 40%;
    padding: 10px 0;
}
#age
{
    width: 40%;
    padding: 10px 0;
}
#add
{
    width: 17%;
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
}
#add:focus{
    background-color:rgb(245,222,179,0.8) ;
}
input
{
    padding: 10px 0;

    background-color:rgba(255, 255, 255, 0.8)
    
}
input:focus{
   background-color:rgb(245,222,179,0.8) ;
   
}